body {
  --primary-dark: hsla(125, 79%, 10%);
  --primary-bg: hsl(125, 79%, 97%);
  --header-text-colour: rgba(0, 0, 0, 0.85);
  --text-colour: rgba(0, 0, 0, 0.75);
  font-family: "Open Sans", sans-serif;
  color: var(--text-colour);
  background-color: var(--primary-bg);
  margin: 0;
  margin-bottom: 100px;
}

/* Small Screens */
main {
  margin: 0;
  padding: 1rem 0.5rem;
  background-color: rgb(240, 245, 240);
}

section {
  margin: auto;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 3rem;
  text-decoration: underline;
  text-decoration-color: var(--primary-dark);
  text-decoration-thickness: 5px;
  font-size: 5rem;
  color: var(--primary-dark);
  font-weight: 300;
}

h1,
h2,
h3 {
  font-family: "Anybody", cursive;
  color: var(--header-text-colour);
}

h2 {
  text-align: center;
  margin-top: 3rem;
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-color: var(--primary-dark);
}

h3 {
  text-align: left;
  font-size: 2rem;
  margin-top: 3rem;
}

p {
  margin: 1.5rem auto;
}
hr {
  margin: 5rem 0;
}

.column {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding: 0;
}

blockquote {
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

blockquote p::before {
  content: "\201C...";
}

blockquote p::after {
  content: "...\201D";
}

footer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  margin-top: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
}

footer p {
  margin: 0;
  font-size: 2rem;
}

li {
  list-style-type: none;
}

/* Large Screen Overrides */
@media only screen and (min-device-width: 480px) {
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 2rem;
    background-color: rgb(240, 245, 240);
  }

  section {
    margin: auto;
    max-width: 90ch;
  }

  h1 {
    font-size: 3rem;
    text-decoration-thickness: 3px;
  }

  hr {
    margin: 2rem 0;
  }
}
